.service {
    margin-bottom: 8.75rem;
}
.service-container {
    width: 79.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.service-container .service__item {
    display: flex;
    align-items: center;
    gap: 0 1.283rem;
}
.service-container .service__item .service__item--icon {
    display: block;
}
.service-container .service__item .service__item--info h4 {
    color: #081323;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.8rem;
}
.service-container .service__item .service__item--info p {
    color: #828282;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}