.hero {
    margin-top: 12.625rem;
    padding-bottom: 36.5rem;
    position: relative;
}
.hero-container {
}

/* Hero Title */
.hero-container .hero__title {
    color: #FFF;
    text-align: center;
    font-size: 5.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5rem;
}

/* Hero Description */
.hero-container .hero__desc {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    margin-bottom: 2.625rem;
}

/* Hero Search Box */
.hero-container .hero__search {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Search Input */
.hero-container .hero__search .hero__search--input {
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.5rem 1.875rem;
    border-radius: 50px;
    outline: none;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
    width: 29rem;
}
.hero-container .hero__search .hero__search--input::placeholder {
    color: #FFF;
}

/* Hero Search Button */
.hero-container .hero__search .hero__search--btn {
    background-color: #525A55;
    padding: 0.5rem;
    border-radius: 50%;
    transform: translateX(-4rem);
    cursor: pointer;
}

/* Hero Fragnas Box */
.hero-container .fragnas-box {
    position: absolute;
    right: 9.75rem;
    top: 17.125rem;
}

/* Hero Fragnas Point */
.hero-container .fragnas-point {
    position: absolute;
    right: 14.5rem;
}

/* Rating Box */
.hero-container .rating__box {
    position: absolute;
    bottom: 16.25rem;
    left: 8rem;
    width: 19rem;
    height: 11.063rem;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
}
.hero-container .rating__box .rating__box--name {
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 28.8px */
    text-transform: capitalize;
    margin-bottom: 8px;
}
.hero-container .rating__box .rating__box--info {
    display: flex;
    gap: 0 1.5rem;
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    text-transform: capitalize;
    margin-bottom: 15px;
}
.hero-container .rating__box .rating__box--info .rating__vote {
    display: flex;
    align-items: center;
    gap: 0 3px;
}
.hero-container .rating__box .rating__box--info p:last-child {
    color: #DCB47A;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
}
.hero-container .rating__box .rating__box--param {
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
}

/* User Avatar */
.hero-container .user-avatar {
    display: block;
    position: absolute;
    transform: translate(23rem, 7.5rem);
    z-index: 1;
}

/* Hero Shadow */
.hero-container .hero__shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20.875rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 83.65%);
}