.product {
    margin-bottom: 5rem;
}
.product-container {
    width: 79.5rem;
    margin: 0 auto;
}
.product-container .product__title {
    color: #081323;
    font-size: 4.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.8rem;
}
.product-container .product__more {
    color: #4F4F4F;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 3.4rem;
    display: flex;
    align-items: center;
}
.product-container .product__more img {
    display: block;
    cursor: pointer;
}

.product-list {
    display: flex;
    gap: 0 3.8rem;
    justify-content: center;
}