.header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem 0;
}
.header-container {
    display: flex;
    gap: 0 12rem;
    align-items: center;
    justify-content: flex-end;
}

/* Header Menu */
.header-container .header__menu {
    display: flex;
    gap: 0 4.25rem;
}
.header-container .header__menu .header__menu--item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
}

/* Header Shop Icon */
.header-container .header__shop .header__shop--image {
    display: block;
    cursor: pointer;
}