.interior {
    padding-top: 5rem;
    margin-bottom: 13rem;
}

.interior-container .interior__title {
    color: #081323;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
    text-align: center;
}
.interior-container .interior__desc {
    color: #4F4F4F;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5rem;
    text-align: center;
}

/* Interior Product */
.interior__product {
    width: 79.5rem;
    margin: 0 auto;
}
.interior__living {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.7rem;
}
.interior__living .living-room-1 {
    width: 43.8rem;
    height: 38.5rem;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.23);
    object-fit: cover;
}
.interior__living .living-room-2 {
    width: 26.9rem;
    height: 40.3rem;
    border-radius: 30px;
    object-fit: cover;
}
.interior__all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.interior__all .living-room-3 {
    width: 26.9rem;
    height: 40.3rem;
    border-radius: 30px;
    object-fit: cover;
}
.interior__all .living-room-4 {
    width: 43.8rem;
    height: 38.5rem;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.23);
    object-fit: cover;
}