.product__item {
    border-radius: 1.6rem;
    background: #FFF;
    box-shadow: 0px 6.45883px 12.91766px 0px rgba(41, 41, 41, 0.08);

    width: 24.2rem;
    height: 31.5rem;
    overflow: hidden;
}
.product__item .product__item--image {
    margin-bottom: 1rem;
}
.product__item .product__item--image img {
    display: block;
}
.product__item .product__item--name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 0.4rem;
}
.product__item .product__item--name p {
    color: #292929;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
}
.product__item .product__item--name img {
    display: block;
    cursor: pointer;
}
.product__item .product__item--price {
    color: #292929;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
    padding: 0 2rem;
}
.product__item .product__item--label {
    display: flex;
    gap: 0 0.5rem;
    padding: 0 2rem;
}
.product__item .product__item--label .label {
    color: #DCB47A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.7px;
    border-radius: 1.2rem;
    border: 0.1rem solid #DCB47A;
    background: #F6FFF6;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}