.footer {
    padding-top: 12.7rem;
}
.footer-container {
    display: flex;
    align-items: flex-end;
    width: 96rem;
    margin: 0 auto;
    gap: 0 7.625rem;
    /* margin-bottom: 52.21px; */
}

/* Footer Input */
.footer-container .footer__input {
    display: flex;
    align-items: center;
}
.footer-container .footer__input input {
    color: #878787;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 24px 30px;
    border-radius: 50px;
    border: 1px solid #878787;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
    width: 28.9rem;
    outline: none;
}
.footer-container .footer__input button {
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px 24px;
    border-radius: 50px;
    background: #DCB47A;
    transform: translateX(-9rem);
    border: none;
}

.footer__social {
    display: flex;
    gap: 0 3.2rem;
}
/* Footer Link */
.footer-container .footer__link .footer__link--title {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    margin-bottom: 2.1rem;
}
.footer-container .footer__link .footer__link--item {
    margin-bottom: 1rem;
}
.footer-container .footer__link .footer__link--item a {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-decoration: none;
}

/* CopyRight */
.footer__copyright {
    margin-bottom: 4.3rem;
    text-align: center;
}