.banner {
    background-color: rgba(38, 38, 38, 1);
    padding: 4.4rem 0 4.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner .banner__title {
    color: #FFF;
    font-size: 3.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 81.678px */
}
.banner .banner__title .banner__title--visit {
    color: #DCB47A;
}
.banner .banner__desc {
    color: rgba(255, 255, 255, 0.80);
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 27.226px */
    margin-bottom: 2.3rem;
}
.banner .banner__btn {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
    text-transform: capitalize;
    border-radius: 60px;
    background: #DCB47A;
    border: none;
    padding: 1.3rem 3.4rem;
    cursor: pointer;
}